html {
    background: radial-gradient(circle, rgba(0, 0, 0, 0.384) 0%, rgba(255,255,255,1) 100%);
    min-height: 100%;
    position: relative;
  }
    
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
  }

.shadowbeam {
    position: absolute;
    top: -1em;
    right: -0.2em;
    margin: 0;
    padding: 0;
    width: 25vw;
    filter: invert(1);
}

.lightbeam {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 0;
    width: 25vw;
}

.glow {
    position: absolute;
    left: 3vw;
    top: 3vw;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 5vw;
    text-align: center;
    color: rgba(0, 0, 0, 0.08);
}

.number {
    position: relative;
    top: 271px;
    text-align: center;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 50px;  
}

ul {
    position: relative;
    list-style-type: none;
    font-family: Helvetica;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 2em;
    text-align: center;
    top: 372px;
    margin: 0px;
    padding: 0px;
    color: #FFF8D4;
    background: linear-gradient(0deg, rgba(255,248,212,1) 0%, rgba(255,255,255,0.01) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home {
    color: #EBE3DA;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    filter:blur(1px);
    font-size: 30px;
    text-decoration: none;
    margin-bottom: 5vw;
}

@keyframes glow {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 30 20 rgb(255, 255, 255);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10 rgba(255, 255, 255, 0.5);
	}

	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 40 rgba(255, 255, 255, 0);
	}
}

[class*="popup-"] {
    color: #FFF8D4;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    width: 300px;
    height: auto;
    position: absolute;
    display: none;
    z-index: 9;
    font-size: 18px;
  }
  
  [class*="popup-"].active {
    display: flex;
  }

  .popup-1 {
    opacity: 0.14;
  }
  .popup-2 {
    opacity: 0.28;
  }
  .popup-3 {
    opacity: 0.42;
  }
  .popup-4 {
    opacity: 0.56;
  }
  .popup-5 {
    opacity: 0.70;
  }
  .popup-6 {
    opacity: 0.84;
  }
  .popup-7 {
    opacity: 0.98;
  }
  .popup-8 {
    opacity: 1;
  }